# ignore .env file
.env*

# don't ignore .env.example file (which will help other developer)
!.env.sample

# ignore .git folder
.git

# node modules
node_modules

# ignore .vscode
.vscode

# firebase admin. json file
slot-booking-app-32275-firebase-adminsdk-fbsvc-63f4ff9048.json